:root {
    --background: #fbfbfb;
    --text-color: #141414;
    --text-color-alternative: #efefef;
    --form-background: #f0f0f0;
    --form-input-background: #ffffff;
    --form-input-border: #828282;
    --form-error: #ea4e3d;
    --form-shadow-color: rgba(0, 0, 0, 0.4);
    --form-button-color: #383131;
    --form-button-hover-color: #000000;
}

:root[data-theme="dark"] {
    --background: #161616;
    --text-color: #efefef;
    --text-color-alternative: #141414;
    --form-background: #1b1b1b;
    --form-input-background: #ececec;
    --form-input-border: #bebebe;
    --form-error: #f57373;
    --form-shadow-color: rgba(202, 202, 202, 0.4);
    --form-button-color: #d7c683;
    --form-button-hover-color: rgb(221, 166, 28);
}

* {
    margin: 0;
    box-sizing: border-box;

    transition: all 0.3s ease;
}

body {
    min-height: 100vh;
    font-family: 'Inter', 'Roboto', 'Segoe UI', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--background);
    color: var(--text-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}